@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Quicksand;
}

#square{
     width: 320px;
     height: 400px;
     background-color: rgb(30, 30, 30);
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 150px;
     border-radius: 5px;
     outline: 3px solid black;
     outline-offset: 3px ;
     position: relative;
     
}

#result{
    color: rgb(255, 255, 255);
}

#num1{
    margin-left: 6px;
    margin-top: 40px;
    width: 130px;
    position: absolute;
    
}
#num2{
    width: 130px;
    margin-left: 180px;
    margin-top: 40px;
    position: absolute;
}
#symbol{
    margin-left: 144px;
    margin-top: 40px;
    position: absolute;
   
}

#cl{
    margin-left: 90px;
    margin-top: 70px;
    width: 50px;
    position: absolute;
}

#calc{
    position: absolute;
    margin-left: 6px;
    margin-top: 70px;
    width: 80px;
    
}
#result{
    margin-left: 7px;
    margin-top: 95px;
    position: absolute;
}
#sv + span{
    margin-left: 166px;
    margin-top: 68px;
    z-index: 1000;
    color: rgb(255, 255, 255);
    position: absolute;
}
#sv{
    margin-left: 150px;
    margin-top: 73px;
    z-index: 1000;
    accent-color: rgb(255, 255, 255);
    position: absolute;
}